<!--
 Kebab Project 2.0.0 (Kebab Revolution)
 http://kebab-project.com
 Copyright (c) 2011-2012 lab2023 - internet technologies TURKEY Inc.
 http://www.lab2023.com
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kebab Web OS</title>

  <meta name="Author" content="lab2023 Dev. Team: http://www.lab2023.com/"/>
  <meta name="Author-Corporate" content="&copy; 2011 lab2023 Dev. Team: http://www.lab2023.com/"/>
  <meta name="copyright" content="&copy; lab2023 Dev. Team: http://www.lab2023.com/"/>

  <!-- include favicon here -->
  <%= favicon_link_tag '/favicon.ico' %>

  <!-- include js and css files here -->
  <%= stylesheet_link_tag "/os/vendors/extjs-4.1.0-rc2/resources/css/ext-all-gray",
                          "/os/vendors/fatcow-icons/fatcow-icons",
                          "/os/resources/css/kebab"
  %>

  <script type="text/javascript">
      var BOOTSTRAP = <%= @bootstrap.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag "/os/vendors/extjs-4.1.0-rc2/ext-all-debug",
                             "/os/vendors/extjs-4.1.0-rc2/locale/ext-lang-#{I18n.locale}",
                             "/os/locale/kebab-lang-#{I18n.locale}",
                             "/os/kebab/kebab"
  %>

  <%= yield :head %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
